<configuration> 
 <channels> 
  <channel ref=“http server” port=“443”/>
 <channel ref="tcp" secure="true" /> 
</channels>
 <runtime> 
  <enforceFIPSPolicy enabled="true|false" />
  <loadFromRemoteSources enabled="false" "*" />
 </runtime>
 <defaultProxy/>
 <etwEnable enabled="true"/>
</configuration>
