<configuration>
    <runtime>  
        <enforceFIPSPolicy enabled="true"/>
        <loadFromRemoteSources enabled="false" "*" />
        <NetFx40_LegacySecurityPolicy enabled="true"/>
    </runtime>
    <system.Net>
        <connectionManagement>
            <add address="*" maxconnection="24" />
        </connectionManagement>
    </system.Net>
    <system.web>
        <processModel autoConfig="true"
            maxWorkerThreads = "100"
            maxIoThreads = "100"
            minWorkerThreads = "50"
            minIoThreads = "50"
        />
    </system.web>
</configuration>