<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
    <runtime>
        <!--Vul ID: V-30926	   	Rule ID: SV-40966r1_rule	   	STIG ID: APPNET0062-->
        <enforceFIPSPolicy enabled="true" />
        <!--Vul ID: V-31026	   	Rule ID: SV-41075r1_rule	   	STIG ID: APPNET0067-->
        <etwEnable enabled="true" />
    </runtime>
    <system.net>
        <!--Vul ID: V-30972	   	Rule ID: SV-41014r1_rule	   	STIG ID: APPNET0066-->
        <defaultProxy></defaultProxy>
    </system.net>
</configuration>
